<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
  <title>Edit account - Cookie Jar</title>
</head>

<body>

  <header>
    <% include ../partials/header %>
  </header>

  <main id="mainbody">

      <section id="grid_title">
        <div class="grid-container">
              <h3> edit your profile </h3>
        </div>
      </section>

    <section id="grid_box">
      <form action="/doedit" method="POST">

          <div class="grid-container">

              <label> first name </label>
              <input type="text" placeholder=" first name " value="<%= user.name.first %>" name="newfirst">

              <label> surname </label>
              <input type="text" placeholder=" surname " value="<%= user.name.last %>"  name="newlast">

              <label> username </label>
              <input type="text" placeholder=" username " value="<%= user.login.username %>"     name="newusername">

              <label> email address </label>
              <input type="email" placeholder=" email address " value="<%= user.email %>"    name="newemail">

              <label> date of birth </label>
              <input type="datetime" placeholder=" date of birth " value="<%= user.dob %>"    name="newdob">

          </div>

            <button type="submit">submit</button>

        </form>

          <button onclick="window.location.href='/account'"> cancel</button>



      </section>


  </main>
  <footer>
    <% include ../partials/footer %>
  </footer>

</body>

</html>
